* {
    box-sizing: border-box;
}

body .custom-font-weight {
    font-weight: 600;
}

#logo-img {
    width: 80px;
}

.nav-icon {
    width: 48px;
    height: auto;
    -webkit-filter: invert(100%);
    transform: scale(0.5);
}

.navbar-custom {
    background-color: #18181b;
}

.navbar-custom .navbar-nav .nav-link {
    color: white;
    height: in;
}

.navbar-custom .custom-toggler {
    background-color: white;
}

.navbar-icon {
    margin-left: -13px;
}

.navbar-custom .custom-icon {
    background-color: white;
}




/* hero section  */

main .common-button {
    border-radius: 40px;
}

#hero .custom-heading-color {
    color: white;
}


/* footer */
.footer-custom {
    background-color: #18181b;
}

.footer-custom .form-text {
    color: #18181b;
}

.footer-custom .footer-link {
    color: white;
}


#footer-container {
    height: 950px;
}


.custom-margin {
    margin-left: 6rem;
}


/* footer button  */

#button {
    border-radius: 30px;
}

.btn-custom-width {
    width: 150px;
}

.btn-custom-height {
    height: 48px;
}

.divider {
    border-top: 1px solid rgb(120, 117, 117);
}


/* footer-menu  */



.list-unstyled {
    list-style: none;
}

#container-2 .img-custom-element {
    width: 19vw;
    height: 30vh;
}




@media (min-width: 280px) and (max-width: 359px) {




    /* hero-section  */

    .overlay-container {
        display: inline-block;
        position: relative;
    }

    .overlay-content {
        position: absolute;
        top: 30%;
        left: 10%;
        transform: translate(-10%, -30%);

    }


    /* first container */

    #first-container img {
        width: auto;
        height: 75vh;
    }

    #first-container .overlay-container {
        display: inline-block;
        position: relative;
    }

    #box-1 {
        padding: 0%;
    }

    #box-2 {
        margin-top: 4vh;
        padding: 0%;
    }

    #box-1 .overlay-content {
        position: absolute;
        top: 50%;
        left: 40vw;
        right: 0;
        transform: translate(-50%, -50%);

    }


    #box-2 .overlay-content {
        position: absolute;
        top: 50%;
        left: 40vw;
        right: 0;
        transform: translate(-50%, -50%);
    }

    /* our-story */

    #our-story-container {
        width: auto;
        height: 25vh;
    }

    /* WORLD OF IVA SPEAKER  */

    #container-2 .img-custom-element {
        display: inline-block;
        justify-content: center;
        align-items: center;
        width: 46vw;
        height: 20vh;
    }



    /* Footer-container */

    #footer-container {
        height: 1230px;
    }

    .custom-margin {
        margin: 0;
    }

    #button {
        width: 100%;
    }

    .img-custom-height {
        height: 90px;
    }

    .footer {
        height: 1900px;
    }
}

@media (min-width: 360px) and (max-width: 539px) {


    /* hero-section  */

    .overlay-container {
        display: inline-block;
        position: relative;
    }

    .overlay-content {
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-10%, -30%);

    }


    /* first container */

    #first-container img {
        width: auto;
        height: 70vh;
    }

    #first-container .overlay-container {
        display: inline-block;
        position: relative;
    }

    #box-1 {
        padding: 0%;
    }

    #box-2 {
        margin-top: 4vh;
        padding: 0%;
    }

    #box-1 .overlay-content {
        position: absolute;
        top: 50%;
        left: 40vw;
        right: 0;
        transform: translate(-50%, -50%);

    }


    #box-2 .overlay-content {
        position: absolute;
        top: 50%;
        left: 40vw;
        right: 0;
        transform: translate(-50%, -50%);
    }

    /* our-story */

    #our-story-container {
        width: auto;
        height: 25vh;
    }

    /* WORLD OF IVA SPEAKER */

    #container-2 .img-custom-element {
        width: 51vw;
        height: 30vh;
    }

    #container-2 .content-custom-padding {
        padding-left: 30px;
        padding-right: 5px;
    }

    /* Footer-container */
    #footer-container {
        height: 1130px;
    }

    .img-custom-height {
        height: 130px;
    }

    .custom-margin {
        margin: 0;
    }

    #button {
        width: 100%;
    }

    .footer {
        height: 1790px;
    }

}

@media (min-width: 540px) and (max-width: 767px) {






    /* hero-section  */
    .overlay-container {
        display: inline-block;
        position: relative;
    }

    .overlay-content {
        position: absolute;
        top: 60%;
        left: 40%;
        transform: translate(-10%, -30%);

    }


    /* first container */

    #first-container img {
        width: auto;
        height: 70vh;
    }

    #first-container .overlay-container {
        display: inline-block;
        position: relative;
    }

    #box-1 {
        padding: 0%;
    }

    #box-2 {
        margin-top: 4vh;
        padding: 0%;
    }

    #box-1 .overlay-content {
        position: absolute;
        top: 50%;
        left: 40vw;
        right: 0;
        transform: translate(-50%, -50%);

    }


    #box-2 .overlay-content {
        position: absolute;
        overflow: hidden;
        /* white-space: nowrap;
        text-overflow: ellipsis; */
        top: 50%;
        left: 40vw;
        right: 0;
        transform: translate(-50%, -50%);
    }

    /* our-story */

    #our-story-container {
        width: auto;
        height: 25vh;
    }


    /* WORLD OF IVA SPEAKER  */

    #container-2 .img-custom-element {
        width: 40vw;
        height: 30vh;
    }


    /* Footer-container */
    #footer-container {
        height: 1120px;
    }

    .img-custom-height {
        height: 200px;
    }

    .custom-margin {
        margin: 0;
    }

    #button {
        width: 100%;
    }

    .footer {
        height: 1790px;
    }


}




@media (min-width: 768px) and (max-width: 1016px) {


    /* hero-section  */

    #hero .custom-height {
        height: 500px;
    }

    .overlay-container {
        display: inline-block;
        position: relative;
    }

    .overlay-content {
        position: absolute;
        top: 60%;
        left: 30%;
        transform: translate(-10%, -30%);

    }

    /* first container */

    #first-container img {
        width: auto;
        height: 80vh;
    }

    .md-float-left {
        float: left;
    }



    .md-float-right {
        float: right;
    }


    #first-container .overlay-container {
        display: inline-block;
        position: relative;
    }


    #box-1 .overlay-content {
        position: absolute;
        top: 60%;
        left: 14vw;
        transform: translate(-50%, -50%);

    }

    #box-2 .overlay-content {
        position: absolute;
        top: 60%;
        left: 2vw;
        transform: translate(-20%, -50%);
    }

    /* our-story */

    #our-story-container {
        width: auto;
        height: 25vh;
    }

    /* WORLD OF IVA SPEAKER */

    #container-2 .img-custom-element {
        width: 100%;
        height: 20vh;
    }

    /* Footer-container */
    #footer-container {
        height: 1200px;
    }

    .img-custom-height {
        height: 300px;
    }

    .footer {
        height: 1710px;
    }

}





@media (min-width: 1017px) and (max-width: 1199px) {




    /* first container */

    #first-container img {
        width: auto;
        height: 80vh;
    }

    .md-float-left {
        float: left;
    }



    .md-float-right {
        float: right;
    }


    #first-container .overlay-container {
        display: inline-block;
        position: relative;
    }


    #box-1 .overlay-content {
        position: absolute;
        top: 60%;
        left: 14vw;
        transform: translate(-50%, -50%);

    }

    #box-2 .overlay-content {
        position: absolute;
        top: 60%;
        left: 2vw;
        transform: translate(-20%, -50%);
    }

    /* our-story */

    #our-story-container {
        width: auto;
        height: 40vh;
    }

    /* WORLD OF IVA SPEAKER */

    #container-2 .img-custom-element {
        width: 100%;
        height: 30vh;
    }


    /* hero-section  */


    #hero .custom-height {
        height: 500px;
    }

    .overlay-container {
        display: inline-block;
        position: relative;
    }

    .overlay-content {
        position: absolute;
        top: 60%;
        left: 30%;
        transform: translate(-10%, -30%);

    }

    /* Footer-container */
    #footer-container {
        height: 1200px;
    }

    .img-custom-height {
        height: 390px;
    }

    .footer {
        height: 1700px;
    }
}

@media (min-width: 1200px) and (max-width: 1293px) {


    /* first container */

    #first-container img {
        width: auto;
        height: 80vh;
    }

    .md-float-left {
        float: left;
    }



    .md-float-right {
        float: right;
    }


    #first-container .overlay-container {
        display: inline-block;
        position: relative;
    }


    #box-1 .overlay-content {
        position: absolute;
        top: 60%;
        left: 14vw;
        transform: translate(-50%, -50%);

    }

    #box-2 .overlay-content {
        position: absolute;
        top: 50%;
        left: 14vw;
        transform: translate(-20%, -50%);
    }

    /* our-story */

    #our-story-container {
        height: 50vh;
    }

    #our-story {
        padding: 18vh;
    }

    /* WORLD OF IVA SPEAKER */

    #container-2 .img-custom-element {
        width: 100%;
        height: 30vh;
    }


    /* hero-section  */

    #hero .custom-height {
        height: 600px;
    }

    .overlay-container {
        display: inline-block;
        position: relative;
    }

    .overlay-content {
        position: absolute;
        top: 60%;
        left: 40%;
        transform: translate(-10%, -30%);

    }

    /* Footer-container */
    #footer-container {
        height: 940px;
    }

    .img-custom-height {
        height: inherit;
    }

    .footer {
        height: 1440px;
    }

}



@media (min-width: 1294px) and (min-resolution: 96dpi) and (max-resolution: 192dpi) {


    /* first container */

    #first-container img {
        width: auto;
        height: 80vh;
    }

    .md-float-left {
        float: left;
    }



    .md-float-right {
        float: right;
    }


    #first-container .overlay-container {
        display: inline-block;
        position: relative;
    }


    #box-1 .overlay-content {
        position: absolute;
        top: 60%;
        left: 14vw;
        transform: translate(-50%, -50%);

    }

    #box-2 .overlay-content {
        position: absolute;
        top: 50%;
        left: 20vw;
        transform: translate(-20%, -50%);
    }

    /* our-story */

    #our-story-container {
        height: 50vh;
    }

    #our-story {
        padding: 18vh;
    }


    /* WORLD OF IVA SPEAKER */

    #container-2 .img-custom-element {
        width: 100%;
        height: 30vh;
    }

    /* hero-section  */

    #hero .custom-height {
        height: 575px;
    }

    .overlay-container {
        display: inline-block;
        position: relative;
    }

    .overlay-content {
        position: absolute;
        top: 60%;
        left: 40%;
        transform: translate(-10%, -30%);

    }

    /* footer-container */
    #footer-container {
        height: 890px;
    }

    .img-custom-height {
        height: inherit;
    }

    .footer {
        height: 1390px;
    }

}